.pagenot-found {
  background: url("sprite/sprite.svg") no-repeat;
  background-position: 0 0;
}
.pagenot-found {
  width: 34px;
  height: 26.79px;
}
.tppr {
  background: url("sprite/sprite.svg") no-repeat;
  background-position: 100% 0;
}
.tppr {
  width: 34px;
  height: 24.44px;
}
