/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*=============================
=            FONTS            =
=============================*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff2') format('woff2'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('../fonts/proxima_nova_semibold-webfont.eot');
  src: url('../fonts/proxima_nova_semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proxima_nova_semibold-webfont.woff2') format('woff2'), url('../fonts/proxima_nova_semibold-webfont.woff') format('woff'), url('../fonts/proxima_nova_semibold-webfont.ttf') format('truetype'), url('../fonts/proxima_nova_semibold-webfont.svg#proxima_nova_ltsemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'optotyporegular';
  src: url('../fonts/optotypo-regular-webfont.eot');
  src: url('../fonts/optotypo-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/optotypo-regular-webfont.woff2') format('woff2'), url('../fonts/optotypo-regular-webfont.woff') format('woff'), url('../fonts/optotypo-regular-webfont.ttf') format('truetype'), url('../fonts/optotypo-regular-webfont.svg#optotyporegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontawesome';
  src: url('../fonts/fontawesome/fontawesome.eot?-e43dk9');
  src: url('../fonts/fontawesome/fontawesome.eot?#iefix-e43dk9') format('embedded-opentype'), url('../fonts/fontawesome/fontawesome.woff?-e43dk9') format('woff'), url('../fonts/fontawesome/fontawesome.ttf?-e43dk9') format('truetype'), url('../fonts/fontawesome/fontawesome.svg?-e43dk9#fontawesome') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bpicons';
  src: url('../fonts/bpicons/bpicons.eot');
  src: url('../fonts/bpicons/bpicons.eot?#iefix') format('embedded-opentype'), url('../fonts/bpicons/bpicons.woff') format('woff'), url('../fonts/bpicons/bpicons.ttf') format('truetype'), url('../fonts/bpicons/bpicons.svg#bpicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/*=============================================================
=            Media Queries            =
=============================================================*/
/*=============================================================
=            iPhone 5 & 5S Media Queries            =
=============================================================*/
/*----------  iPhone 5 & 5S in portrait & landscape  ----------*/
/*==============================================
=            iPhone 6 Media Queries            =
==============================================*/
/*----------  iPhone 6 in portrait & landscape  ----------*/
/*======================================================
=            Turn Off Number Input Spinners            =
======================================================*/
/*=====================================
=            Custom styles            =
=====================================*/
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.clear {
  clear: both;
}
html,
body {
  height: 100%;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.4rem;
  line-height: 22px;
  color: #7b7f8b;
  font-family: 'proxima_nova_rgregular';
}
* {
  box-sizing: border-box;
}
input,
textarea,
button,
select {
  color: inherit;
  font: inherit;
}
.inject-svg {
  width: 0;
  height: 0;
  display: block;
}
svg {
  display: inline-block;
}
svg line {
  opacity: .2;
}
.scr-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
h2.title {
  font-size: 3.2rem;
  line-height: 38px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  h2.title {
    font-size: 1.8rem;
  }
}
h3.title {
  font-size: 3.8rem;
  line-height: 3.8rem;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  h3.title {
    font-size: 1.8rem;
  }
}
p {
  font-size: 1.4rem;
  line-height: 2.2rem;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  p {
    font-size: 1.3rem;
  }
}
/*=========================================
=            Magnet navigation            =
=========================================*/
.magnet-navigation {
  position: absolute;
  top: 25px;
  right: 2%;
  z-index: 5;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .magnet-navigation {
    display: none !important;
  }
}
.magnet-navigation__link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 18px;
  margin: 6px 0;
}
.magnet-navigation__icon {
  width: 9px;
  height: 9px;
  fill: #fff;
  stroke: #fff;
}
.magnet-navigation__icon--dark {
  fill: #868D99;
  stroke: #868D99;
}
.magnet-navigation__icon--gradient {
  stroke: none;
}
.magnet-navigation__icon-active {
  width: 18px;
  height: 18px;
  fill: #fff;
  stroke: #fff;
}
.magnet-navigation__icon-active:hover,
.magnet-navigation__icon-active:focus {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.magnet-navigation__icon-active--dark {
  fill: #868D99;
  stroke: #868D99;
}
.magnet-navigation__icon-active--gradient {
  stroke: none;
}
/*===================================================
=            Interactive point template            =
===================================================*/
.ip {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  z-index: 2;
}
.ip__trigger:hover,
.ip__trigger:focus {
  cursor: pointer;
}
.ip__icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: calc(50% - 8px);
  left: calc(50% - 8px);
  z-index: 2;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.ip__icon--hidden {
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.ip__icon--active {
  opacity: 1;
  width: 38px;
  height: 38px;
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 19px);
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
}
/*=========================================================
=            FIXED BACKGROUND SCROLLING LAYOUT            =
=========================================================*/
/* Set all parents to full height */
html,
body,
.container,
.cbp-fbscroller {
  height: 100%;
}
/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.cbp-fbscroller > nav {
  position: fixed;
  z-index: 3;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  top: 20.125%;
}
.cbp-fbscroller > nav a {
  display: block;
  position: relative;
  color: transparent;
}
/* background-attachment does the trick */
.cbp-fbscroller section {
  position: relative;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/*==============================
=            HEADER            =
==============================*/
.site-header {
  background-color: #fff;
  width: 100%;
  height: 69px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2%;
}
.site-header__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-logo__icon {
  width: 119px;
  height: 35px;
}
.header-navigation__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.header-navigation__link {
  color: #000;
  font-size: 1rem;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}
.language-dropdown {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #E2E2E2;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 33px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 11px;
  width: 57px;
}
.language-dropdown__current-lang {
  width: 17px;
  height: 12px;
}
.language-dropdown__trigger {
  width: 9px;
  height: 5px;
}
.language-dropdown__list {
  display: none;
}
.social {
  margin-left: 9px;
}
.social__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item:not(:last-child) {
  border-right: 1px solid #b2b2b2;
}
.social__link {
  padding: 0 11px;
}
.social__icon--facebook {
  width: 9px;
  height: 16px;
}
.social__icon--twitter {
  width: 17px;
  height: 14px;
}
.social__icon--youtube {
  width: 17px;
  height: 13px;
}
/*-----  End of HEADER  ------*/
/* 
 *  Owl Carousel - Animate Plugin
 */
@media only screen and  (min-width: 1200px) {
  .owl-carousel-gallery {
    display: none;
  }
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-dots {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 14px;
  left: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 7px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.owl-carousel .owl-controls .owl-nav .owl-prev::before,
.owl-carousel .owl-controls .owl-nav .owl-next::before,
.owl-carousel .owl-controls .owl-dot::before {
  display: block;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.owl-carousel .owl-controls .owl-nav .owl-prev::after,
.owl-carousel .owl-controls .owl-nav .owl-next::after,
.owl-carousel .owl-controls .owl-dot::after {
  opacity: 0;
  content: '';
  width: 20px;
  height: 20px;
  background: transparent;
  border-style: solid;
  border-top-color: transparent;
  border-right-color: #fff;
  border-left-color: #fff;
  border-bottom-color: transparent;
  border-width: 1px;
  border-radius: 50%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.owl-carousel .owl-controls .owl-nav .owl-prev:hover::after,
.owl-carousel .owl-controls .owl-nav .owl-next:hover::after,
.owl-carousel .owl-controls .owl-dot:hover::after,
.owl-carousel .owl-controls .owl-nav .owl-prev:focus::after,
.owl-carousel .owl-controls .owl-nav .owl-next:focus::after,
.owl-carousel .owl-controls .owl-dot:focus::after {
  opacity: 1;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.owl-carousel .owl-controls .owl-nav .owl-prev.active::after,
.owl-carousel .owl-controls .owl-nav .owl-next.active::after,
.owl-carousel .owl-controls .owl-dot.active::after {
  opacity: 1;
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
.scr-top {
  background: url(../img/background/scr-top.jpg) no-repeat;
  width: 100%;
  height: calc(100% - 69px);
  background-size: cover;
  position: relative;
}
.main-logo {
  position: absolute;
  top: 43%;
  left: calc(50% - 321px);
}
.main-logo__icon {
  width: 642px;
  height: 50px;
}
.main-logo::before,
.main-logo::after {
  content: '';
  height: 1px;
  opacity: .2;
  background-color: #fff;
  position: absolute;
}
.main-logo::before {
  top: -30px;
  right: 196px;
  width: 101px;
}
.main-logo::after {
  bottom: -24px;
  left: 69px;
  width: 94px;
}
/*========================================
=            Interactive menu            =
========================================*/
.interactive-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 7%;
  width: 100%;
  position: absolute;
  bottom: 5.9847661%;
}
.interactive-menu__point {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.interactive-menu__line {
  height: 1px;
  background-color: #fff;
  width: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
  opacity: 0.2;
}
.interactive-menu__description {
  position: absolute;
  width: 144px;
  top: -81px;
  height: 74px;
  left: calc(50% - 72px);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.interactive-menu__description-icon {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.interactive-menu__description-icon--1 {
  width: 29px;
  height: 29px;
  fill: #fff;
}
.interactive-menu__description-icon--2 {
  width: 26px;
  height: 26px;
}
.interactive-menu__description-icon--3 {
  width: 28px;
  height: 28px;
}
.interactive-menu__description-icon--4 {
  width: 21px;
  height: 27px;
}
.interactive-menu__name {
  text-transform: uppercase;
  font-size: 1.0rem;
  color: #fff;
  text-align: center;
}
/*==========================================
=            Screen top SLIDE 1            =
==========================================*/
.src-top-slide {
  width: 100%;
  height: 100%;
  position: relative;
}
.src-top-slide-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.src-top-slide-1-popup {
  opacity: 0;
  position: absolute;
  top: 30%;
  right: 28%;
}
.src-top-slide-1-popup__text {
  text-align: center;
  position: absolute;
  top: -97px;
  left: -193px;
  width: 388px;
  font-size: 1.4rem;
  color: #fff;
  line-height: 22px;
}
/*==============================================
=            SVG ANIMATION ELEMENTS            =
==============================================*/
.svg-animation-elements {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.scr-top-line1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.scr-top-line1__path {
  z-index: 50;
}
.src-top-slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.src-top-slide-1 {
  display: block;
}
.src-top-slide-2 {
  background-color: rgba(0, 0, 0, 0.7);
}
.src-top-slide-3 {
  background-color: rgba(255, 244, 68, 0.7);
}
.src-top-slide-4 {
  background-color: rgba(0, 0, 255, 0.7);
}
.scr-consctructions {
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-consctructions {
    width: 100%;
    height: 100%;
  }
}
/*=================================================
=            CONSCTRUCTIONS LEFT SIDE             =
=================================================*/
.scr-consctructions-left {
  background-image: -webkit-linear-gradient(243deg, #8E9780 0%, #C3CDB3 100%);
  background-image: linear-gradient(-153deg, #8E9780 0%, #C3CDB3 100%);
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions-left {
    width: 100%;
    min-height: 100%;
    padding: 21.875% 6.25% 94.5% 6.25%;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-consctructions-left {
    width: 50%;
    padding: 9% 7%;
    height: 100%;
  }
}
.cons-info {
  color: #fff;
}
@media only screen and  (min-width: 1200px) {
  .cons-info {
    max-width: 206px;
  }
}
.cons-info__text1 {
  margin-top: 18px;
}
/*========================================================
=            Construction planes with circles            =
========================================================*/
.cons-plane {
  position: absolute;
}
.cons-plane img {
  width: 100%;
  height: 100%;
}
.cons-plane--1 {
  bottom: 0;
  right: 0;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .cons-plane--1 {
    width: 100%;
    bottom: -13px;
  }
}
@media only screen and  (min-width: 1200px) {
  .cons-plane--1 {
    width: 546px;
    height: 601px;
  }
}
.cons-plane--2 {
  top: 13%;
  left: 0;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .cons-plane--2 {
    width: 100%;
  }
}
@media only screen and  (min-width: 1200px) {
  .cons-plane--2 {
    width: 100%;
    height: 212px;
  }
}
.cons-plane--3 {
  top: 0;
  left: 0;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .cons-plane--3 {
    width: 100%;
    right: -3px;
  }
}
@media only screen and  (min-width: 1200px) {
  .cons-plane--3 {
    top: -127px;
    left: 0;
    width: 466px;
  }
}
.cons-sphere {
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .cons-sphere {
    display: none;
  }
}
.cons-sphere--start {
  width: 31px;
  height: 31px;
  top: 153px;
  left: 23.4375%;
  z-index: 1;
}
.cons-sphere--1 {
  width: 430px;
  height: 430px;
  bottom: 62px;
  right: 92px;
}
.cons-sphere--2 {
  width: 107px;
  height: 107px;
  top: 23.1132075%;
  left: 66.583229%;
}
.cons-sphere--3 {
  width: 230px;
  height: 230px;
  top: 25.7575758%;
  left: 9.0112641%;
}
/*=================================================
=            CONSCTRUCTIONS RIGHT SIDE            =
=================================================*/
.scr-consctructions-right {
  height: 100%;
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions-right {
    width: 100%;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-consctructions-right {
    width: 50%;
  }
}
.scr-consctructions-right__top {
  background: #eff4fc;
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions-right__top {
    padding: 66.375% 6.25% 20.875% 6.25%;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-consctructions-right__top {
    width: 100%;
    padding-right: 14%;
    height: 64.09140369967356%;
  }
}
.scr-consctructions-right__bottom {
  position: relative;
  width: 100%;
  background-image: -webkit-linear-gradient(243deg, #EEFFEF 0%, #75A690 100%);
  background-image: linear-gradient(-153deg, #EEFFEF 0%, #75A690 100%);
  background: #809781;
  overflow: hidden;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions-right__bottom {
    height: 100%;
    padding: 118.625% 6.25% 24% 6.25%;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-consctructions-right__bottom {
    padding-top: 11.7647059%;
    padding-right: 7%;
    height: 35.91%;
  }
}
@media only screen and  (min-width: 1200px) {
  .cons-info__text2 {
    position: absolute;
    bottom: 13%;
    left: 0;
    width: 100%;
    padding-left: 15%;
    padding-right: 14%;
  }
}
.cons-info__text3 {
  color: #fff;
}
@media only screen and  (min-width: 1200px) {
  .cons-info__text3 {
    float: right;
    max-width: 290px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-consctructions-line {
    display: none;
  }
}
.scr-consctructions-line line {
  opacity: 1;
}
@media (min-device-width: 319px) {
  img[data-src-320px] {
    content: attr(data-src-320px, url);
  }
}
@media (min-device-width: 480px) {
  img[data-src-480px] {
    content: attr(data-src-480px, url);
  }
}
.scr-features {
  width: 100%;
  background: #767E7F;
  background: rgba(118, 126, 127, 0.8);
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features {
    padding-right: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 940px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features {
    height: 100%;
  }
}
.scr-features-plane {
  background: url(../img/background/features-plane.png) no-repeat center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 373px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-plane {
    background: url(../img/background/features-plane-sm.png) no-repeat left center;
    height: 100%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    left: 0;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    position: absolute;
    top: 26.3125em;
  }
}
.scr-features-list__item {
  border-radius: 50%;
  border: 2px solid rgba(183, 184, 179, 0.9);
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__item {
    -webkit-flex-shrink: 0;
        -ms-flex-negative: 0;
            flex-shrink: 0;
    width: 7px;
    height: 7px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-list__item {
    width: 14px;
    height: 14px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__item--1 {
    margin-left: 19px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__item--2 {
    margin-top: 177px;
    margin-left: 58px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__item--3 {
    margin-top: 244px;
    margin-left: 58px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__item--4 {
    margin-top: 177px;
    margin-left: 34px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-list__item {
    margin: 0 10.46875%;
  }
}
.scr-features-list__info {
  color: #fff;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__info {
    position: absolute;
    width: 166px;
    height: 220px;
    text-align: center;
    top: 0;
    left: 0;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-list__info {
    opacity: 0;
    position: absolute;
    top: -242px;
    left: calc(50% - 83px);
    width: 166px;
    height: 220px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__info--1 {
    top: -125px;
    left: 0px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__info--2 {
    top: -100px;
    left: -14px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__info--3 {
    top: -112px;
    left: -14px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__info--4 {
    top: -69px;
    left: -13px;
  }
}
.scr-features-list__icon--1 {
  width: 32px;
  height: 38px;
}
.scr-features-list__icon--2 {
  width: 29px;
  height: 29px;
}
.scr-features-list__icon--3 {
  width: 18px;
  height: 39px;
}
.scr-features-list__icon--4 {
  width: 28px;
  height: 28px;
}
.scr-features-list__name {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 5px;
}
@media only screen and  (min-width: 1200px) {
  .scr-features-list__name {
    margin-top: 32px;
    height: 45px;
  }
}
.scr-features-list__text {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-top: 10px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__text {
    margin-top: 0;
  }
}
.scr-features-list__value {
  font-family: 'proxima_nova_ltsemibold';
  font-size: 5.2rem;
  margin-top: 16px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__value {
    font-size: 2.0rem;
    margin-top: 0;
  }
}
.scr-features-list__units {
  margin-top: 9px;
  font-size: 1.5rem;
  text-transform: capitalize;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-list__units {
    margin-top: 0;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-points {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 70px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    top: 54.5%;
    width: 100%;
  }
}
.scr-features-points__point {
  border-radius: 50%;
  border: 2px solid rgba(183, 184, 179, 0.9);
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-points__point {
    width: 11px;
    height: 11px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points__point {
    width: 21px;
    height: 21px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points__point--1 {
    margin-right: 2.1%;
    margin-top: 100px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-points__point--2 {
    margin-top: 129px;
    margin-left: 10px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points__point--2 {
    margin-right: 8.4%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-points__point--3 {
    margin-top: 222px;
    margin-left: 10px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points__point--3 {
    margin-right: 2.1%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-features-points__point--4 {
    margin-top: 139px;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-features-points__point--4 {
    margin-top: 100px;
  }
}
.scr-features-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.scr-aerodynamics {
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(1, 5, 24, 0.8);
  overflow: hidden;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-aerodynamics {
    height: 1160px;
  }
}
.aerodynamics-plane {
  background: url(../img/background/aerodynamics-plane.png) no-repeat;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 759.5px);
  width: 1519px;
  height: 517px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-plane {
    background: url(../img/background/aerodynamics-plane-sm.png) no-repeat center bottom;
    width: 100%;
    height: 301px;
    position: absolute;
    bottom: 0;
    z-index: 100;
    left: 0;
  }
}
.aerodynamics-waves {
  position: absolute;
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-waves {
    width: 814px;
    height: 357px;
    top: 68px;
    left: 17.941032%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-waves--small {
    width: 100%;
    height: 100%;
    top: -24px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-waves--small {
    display: none;
  }
}
.aerodynamics-point {
  position: absolute;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point--1 {
    top: 125px;
    left: 43.1875%;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point--1 {
    top: 175px;
    left: 49.3125%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point--2 {
    top: 377px;
    left: 79.5625%;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point--2 {
    top: 259px;
    left: 65.125%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point--3 {
    top: 206px;
    left: 29.260%;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point--3 {
    top: 408px;
    left: 16.6875%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point--4 {
    top: 448px;
    left: 28.0125%;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point--4 {
    top: 333px;
    left: 44.0625%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point--5 {
    top: 651px;
    left: 59.6%;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point--5 {
    top: 401px;
    left: 68.625%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__icon--big {
    width: 14px;
    height: 14px;
  }
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point__icon--big {
    width: 18px;
    height: 19px;
  }
}
.aerodynamics-point__icon--medium {
  width: 14px;
  height: 13px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__icon--medium {
    width: 12px;
    height: 12px;
  }
}
.aerodynamics-point__icon--small {
  width: 11px;
  height: 11px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__icon--small {
    width: 10px;
    height: 10px;
  }
}
.aerodynamics-point__info {
  position: absolute;
}
@media only screen and  (min-width: 1200px) {
  .aerodynamics-point__info {
    opacity: 0;
  }
}
.aerodynamics-point__info--1 {
  top: -52px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--1 {
    top: -61px;
  }
}
.aerodynamics-point__info--2 {
  max-width: 174px;
  top: -23px;
  left: 20px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--2 {
    top: 23px;
    left: -94px;
  }
}
.aerodynamics-point__info--2 p {
  font-size: 1.7rem;
  white-space: nowrap;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--2 p {
    font-size: 1.4rem;
  }
}
.aerodynamics-point__info--3 {
  width: 310px;
  top: 12px;
  left: 17px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--3 {
    width: 181px;
    top: 13px;
    left: -86px;
  }
}
.aerodynamics-point__info--3 p {
  width: 100%;
}
.aerodynamics-point__info--4 {
  width: 224px;
  top: 20px;
  left: 10px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--4 {
    top: 13px;
    left: -64px;
  }
}
.aerodynamics-point__info--5 {
  width: 334px;
  top: 16px;
  left: 15px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .aerodynamics-point__info--5 {
    width: 205px;
    top: 15px;
    left: -100px;
  }
}
.aerodynamics-point p {
  color: #fff;
  width: 100%;
}
.aerodynamics-point__title {
  line-height: 30px;
  background: -webkit-linear-gradient(#45C7FF, #3EFF6E);
  background: linear-gradient(#45C7FF, #3EFF6E);
  -webkit-background-clip: text;
  color: transparent;
}
.scr-transporting {
  width: 100%;
  position: relative;
  background: #67625F;
  padding: 8.675% 7% 0 7%;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-transporting {
    padding: 23.7% 6.25%;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-transporting {
    height: 100%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .transporting__plane {
    background: url(../img/background/transporting-plane-sm.png) no-repeat left 210px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: contain;
  }
}
@media only screen and  (min-width: 1200px) {
  .transporting__plane {
    background: url(../img/background/transporting-plane.png) no-repeat;
    position: absolute;
    top: 17.9875%;
    left: 24.625%;
    width: 1040px;
    height: 598px;
  }
}
.transporting__logo {
  position: absolute;
  top: 41%;
  left: 35.99%;
  width: 490px;
  height: 37px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .transporting__logo {
    display: none;
  }
}
.transporting-info {
  position: relative;
  width: 32.125%;
  margin: 0 4.5%;
  color: #fff;
  padding-bottom: 6.375%;
  z-index: 1;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .transporting-info {
    width: 100%;
    margin: 0;
    padding-bottom: 16.475%;
  }
}
.transporting-info + .transporting-info {
  border-top: 1px solid #979797;
  padding-top: 6.175%;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .transporting-info + .transporting-info {
    padding-top: 29.375%;
    padding-bottom: 0;
  }
}
.transporting-info__description {
  margin-top: 10.31659%;
}
.scr-specs {
  width: 100%;
  min-height: 100%;
  color: #383D56;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-specs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and  (min-width: 1200px) {
  .scr-specs {
    padding: 8.5% 9.4%;
  }
}
.spec-tabs {
  width: 386px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs {
    width: 100%;
  }
}
@media only screen and  (min-width: 1200px) {
  .spec-tabs {
    padding-left: 16px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__name {
    padding: 0 6.25%;
    text-align: center;
    margin-top: 72px;
    margin-bottom: 39px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and  (min-width: 1200px) {
  .spec-tabs__list {
    padding-top: 4%;
    margin-top: 11.75%;
    width: 100%;
    border-top: 1px solid rgba(151, 151, 151, 0.3);
  }
}
.spec-tabs__item {
  width: 100%;
  position: relative;
}
.spec-tabs__item:hover,
.spec-tabs__item:focus {
  cursor: pointer;
}
.spec-tabs__item:hover .spec-tabs__border,
.spec-tabs__item:focus .spec-tabs__border {
  opacity: 1;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__item {
    border-top: 1px solid rgba(151, 151, 151, 0.3);
  }
  .spec-tabs__item:last-child {
    border-bottom: 1px solid rgba(151, 151, 151, 0.3);
  }
}
@media only screen and  (min-width: 1200px) {
  .spec-tabs__item {
    height: 54px;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__item--active .spec-tabs__head {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.13);
  }
  .spec-tabs__item--active .spec-tabs__arrow--down {
    display: none;
  }
  .spec-tabs__item--active .spec-tabs__arrow--up {
    display: block;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }
}
.spec-tabs__border {
  width: 400px;
  height: 54px;
  position: absolute;
  top: 0;
  left: -16px;
  opacity: 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
}
.spec-tabs__border use {
  fill: transparent !important;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__border {
    display: none;
  }
}
.spec-tabs__text {
  font-size: 1.4rem;
  color: #383D56;
  line-height: 20.29px;
  position: relative;
  z-index: 2;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-tabs__text {
    padding: 20px 6.25%;
  }
}
.spec-tabs__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
}
@media only screen and  (min-width: 1200px) {
  .spec-tabs__arrow {
    display: none;
  }
}
.spec-tabs__arrow--down {
  width: 12px;
  height: 8px;
}
.spec-tabs__arrow--up {
  width: 12px;
  height: 8px;
  display: none;
}
.spec-details {
  display: none;
}
.spec-details__wrapper {
  padding-left: 2.666666667%;
  border-left: 1px solid rgba(151, 151, 151, 0.3);
  min-width: 75%;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-details--active {
    display: none;
  }
}
@media only screen and  (min-width: 1200px) {
  .spec-details--active {
    display: block;
  }
}
.spec-details__item {
  padding: 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
}
.spec-details__item:nth-child(even) {
  background: #F9F9F9;
  border-radius: 4px;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-details__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.spec-details__name {
  font-size: 1.4rem;
}
@media only screen and  (min-width: 1200px) {
  .spec-details__name {
    width: 22.5%;
  }
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .spec-details__value {
    margin-top: 10px;
  }
}
@media only screen and  (min-width: 1200px) {
  .spec-details__value {
    width: 77.5%;
  }
}
.scr-gallery {
  width: 100%;
  position: relative;
  z-index: 4;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-gallery {
    height: 276px;
  }
}
.scr-gallery .grid-gallery {
  position: relative;
}
@media only screen and (min-width : 320px) and (max-width : 766px) {
  .scr-gallery .grid-gallery {
    display: none;
  }
}
.scr-gallery .grid-gallery ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.scr-gallery .grid-gallery figure {
  margin: 0;
}
.scr-gallery .grid-gallery figure img {
  display: block;
  width: 100%;
}
.scr-gallery .grid-gallery figcaption h3 {
  margin: 0;
  padding: 0 0 0.5em;
}
.scr-gallery .grid-gallery figcaption p {
  margin: 0;
}
.scr-gallery .grid-wrap {
  width: 100%;
  margin: 0 auto;
}
.scr-gallery .grid {
  margin: 0 auto;
}
.scr-gallery .grid li {
  width: 33.333%;
  float: left;
  cursor: pointer;
}
.scr-gallery .grid figure {
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.scr-gallery .grid li:hover figure {
  opacity: 0.7;
}
.scr-gallery .grid figcaption {
  background: #e4e4e4;
  padding: 25px;
}
.scr-gallery .slideshow {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 500;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transition: opacity 0.5s, visibility 0s 0.5s;
  transition: opacity 0.5s, visibility 0s 0.5s;
}
.scr-gallery .slideshow ul {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: translate3d(0, 0, 150px);
          transform: translate3d(0, 0, 150px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.scr-gallery .slideshow ul.animatable li {
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.scr-gallery .slideshow li {
  width: 660px;
  height: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -280px 0 0 -330px;
  visibility: hidden;
}
.scr-gallery .slideshow li.show {
  visibility: hidden;
}
.scr-gallery .slideshow li:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.scr-gallery .slideshow li.current {
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  left: 0;
  visibility: visible;
}
.scr-gallery .slideshow li.current:after {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s, visibility 0s 0.3s;
  transition: opacity 0.3s, visibility 0s 0.3s;
}
.scr-gallery .slideshow figure {
  width: 100%;
  height: 100%;
  background: #fff;
  overflow: hidden;
}
.scr-gallery .slideshow figcaption {
  padding-bottom: 20px;
}
.scr-gallery .slideshow figcaption h3 {
  font-weight: 300;
  font-size: 200%;
}
.scr-gallery .slideshow nav span {
  position: fixed;
  z-index: 1000;
  color: #59656c;
  text-align: center;
  padding: 3%;
  cursor: pointer;
  font-size: 2.2em;
}
.scr-gallery .slideshow nav span.nav-prev {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.scr-gallery .slideshow nav span.nav-next {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 0;
}
.scr-gallery .slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #31373a;
}
.scr-gallery .slideshow-open .slideshow {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.scr-gallery .slideshow-open .slideshow ul {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.scr-gallery .slideshow-open .slideshow .slideshow nav span.nav-close {
  top: 0;
  right: 0;
  padding: 0.5em 1em;
  color: #fff;
}
.scr-gallery .icon:before,
.scr-gallery .icon:after {
  font-family: 'fontawesome';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.scr-gallery span.nav-prev:before {
  content: "\e601";
}
.scr-gallery span.nav-next:before {
  content: "\e600";
}
.scr-gallery span.nav-close:before {
  content: "\e602";
}
.scr-gallery .info-keys {
  position: fixed;
  top: 10px;
  left: 10px;
  width: 60px;
  font-size: 8px;
  padding-top: 20px;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 1px;
  text-align: center;
}
.scr-gallery .info-keys:before {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  left: 10px;
  content: "\e603";
}
.scr-gallery .info-keys:after {
  position: absolute;
  top: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 14px;
  font-size: 12px;
  right: 10px;
  content: "\e604";
}
.scr-gallery-zoom {
  position: absolute;
  bottom: 27px;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.scr-gallery-zoom__icon {
  width: 19px;
  height: 20px;
}
.scr-gallery-zoom__label {
  margin-left: 12px;
  font-size: 1.4rem;
  color: #fff;
}
.scr-aboutus {
  width: 100%;
  padding: 8.125% 7%;
  z-index: 2;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  color: #383E57;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-column {
  width: 45.285714286%;
}
.about-column__title {
  margin-bottom: 20px;
}
.about-column__text {
  margin-top: 35px;
}
.about-column__video {
  margin-top: 51px;
  position: relative;
}
.about-column__cover {
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: -webkit-linear-gradient(243deg, #EEFFEF 0%, #75A690 100%);
  background-image: linear-gradient(-153deg, #EEFFEF 0%, #75A690 100%);
  background-image: -webkit-linear-gradient(233deg, #5C698C 1%, #D0A9A9 100%);
  background-image: linear-gradient(-143deg, #5C698C 1%, #D0A9A9 100%);
}
.about-column__play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 88px;
  height: 88px;
}
.about-column__play:hover,
.about-column__play:focus {
  cursor: pointer;
}
.about__info {
  padding-bottom: 33px;
}
.about__info:not(:first-child) {
  border-top: 1px solid rgba(151, 151, 151, 0.3);
  padding-top: 9px;
}
.scr-map {
  margin-top: -46px;
  z-index: 1;
}
.site-footer {
  width: 100%;
  height: 86px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 14%;
}
.copyright {
  font-size: 1.3rem;
  color: #8E8E8E;
}
.heartbeat {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.heartbeat__text {
  font-size: 1.3rem;
  color: #8E8E8E;
}
.heartbeat__logo {
  margin-left: 5px;
  width: 83px;
  height: 24px;
}
