/*=====================================
=            Custom styles            =
=====================================*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clear {
	clear: both;
}
html, body {
	height: 100%;
	user-select: text;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.4rem;
	line-height: 22px;
	color: #7b7f8b;
	font-family: 'Open Sans';
	font-weight: 400;
}
* {
	box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea {
}
input, textarea, button, select {
	color: inherit;
	font: inherit;
}
.inject-svg {
	width: 0;
	height: 0;
	display: block;
}
svg {
	display: inline-block;
	line {
		opacity: .2;
	}
}
.scr-line {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
h2.title {
	font-size: 3.2rem;
	line-height: 38px;
	@media @mobile {
		font-size: 1.8rem;
	}
	@media @tablet {
		font-size: 2.2rem;
	}
}
h3.title {
	font-weight: 300;
	font-size: 3.8rem;
	line-height: 3.8rem;
	@media @mobile {
		font-size: 1.8rem;
	}
	@media @tablet {
		font-size: 1.8rem;
	}
}
p {
	font-size: 1.4rem;
	line-height: 2.2rem;
	@media @mobile {
		font-size: 1.3rem;
	}
	@media @tablet {
		font-size: 1rem;
	}
}
#fullpage {
	// display: none;
}
/*=========================================
=            Magnet navigation            =
=========================================*/
.magnet-navigation {
	@media @mobile {
		display: none !important;
	}
	@media @tablet {
		display: none !important;
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 18px;
		margin: 6px 0;
		&.active {
			transform: rotate(-45deg);
		}
	}
	&__icon {
		width: 9px;
		height: 9px;
		fill: #fff;
		stroke: #fff;
		&--dark {
			fill: #868D99;
			stroke: #868D99;
		}
		&--gradient {
			stroke: none;
		}
	}
	
}

/*===================================================
=            Interactive point template            =
===================================================*/
.ip {
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	z-index: 2;
	&__trigger {
		&:hover, &:focus {
		  cursor: pointer;
		}
	}
	&__icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: calc(~"50% - 8px");
		left: calc(~"50% - 8px");
		z-index: 2;
		.transition();
		&--hidden {
			opacity: 0;
		transform: rotate(-45deg);

		}
		&--active {
			opacity: 1;
			width: 38px;
			height: 38px;
			position: absolute;
			top: calc(~"50% - 19px");
			left: calc(~"50% - 19px");
			transform: rotate(0);
			.transition();
			z-index: 1;
		}
	}
}

/*=========================================================
=            FIXED BACKGROUND SCROLLING LAYOUT            =
=========================================================*/
/* Set all parents to full height */
html, body, 
.container,
.cbp-fbscroller { 
	height: 100%; 
}


/* The nav is fixed on the right side  and we center it by translating it 50% 
(we don't know it's height so we can't use the negative margin trick) */
.magnet-navigation {
	position: fixed;
	z-index: 3;
	right: 2%;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	// animation: magnet-navigation 1s linear 1s;
	// animation-fill-mode:forwards;
	// right: -2%;
	// display: none;
}
@keyframes magnet-navigation {
	from { right: -2%; }
	to { right: 2%; }
}
.magnet-navigation a {
	display: block;
	position: relative;
	color: transparent;
	.round-sphere(8px, 18px);
}

.magnet-navigation a:after {
	.transition(.5s);
}

.magnet-navigation a:hover:after {
	// background: rgba(255,255,255,0.6);
}

.magnet-navigation a.active:after {
	  opacity: 1;
	  transform: rotate(180deg);
}

/* background-attachment does the trick */
.cbp-fbscroller {
	section {
		position: relative;
		background-position: top center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		overflow: hidden;
	}
}

