/*=====================================
=            Custom styles            =
=====================================*/
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}
.clearfix {
	*zoom: 1;
}
.clear {
	clear: both;
}
html, body {
	height: 100%;
	user-select: text;
}
html {
	font-size: 62.5%;
}
body {
	font-size: 1.4rem;
	line-height: 22px;
	color: #7b7f8b;
	font-family: @ff-r;
	::selection {
		color: #fff;
	}
}
* {
	box-sizing: border-box;
}
input[type="text"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="url"],
textarea {
}
input, textarea, button, select {
	color: inherit;
	font: inherit;
}
.inject-svg {
	width: 0;
	height: 0;
	display: block;
}
svg {
	display: inline-block;
}
h2.title {
	font-size: 3.2rem;
	line-height: 38px;
}
h3.title {
	font-size: 3.8rem;
	line-height: 3.8rem;
}
p {
	font-size: 1.4rem;
	line-height: 2.2rem;
}
/*=========================================
=            Magnet navigation            =
=========================================*/
.magnet-navigation {
	position: absolute;
	top: 25px;
	right: 2%;
	z-index: 5;
	&__item {
		
	}
	&__link {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon {
		margin: 10px 0;
		width: 9px;
		height: 9px;
		.transition();
		fill: #fff;
		stroke: #fff;
		&--dark {
			fill: #868D99;
			stroke: #868D99;
		}
		&--gradient {
			stroke: none;
		}
		&:hover, &:focus {
		  transform: rotate(180deg);
		}
	}
	&__icon-active {
		width: 18px;
		height: 18px;
		fill: #fff;
		stroke: #fff;
		&:hover, &:focus {
		  transform: rotate(180deg);
		}
		&--dark {
			fill: #868D99;
			stroke: #868D99;
		}
		&--gradient {
			stroke: none;
		}
	}
}

/*===================================================
=            Interactive point template            =
===================================================*/
.interactive-point {
	width: 38px;
	height: 38px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	&__icon {
		width: 16px;
		height: 16px;
		position: absolute;
		top: calc(~"50% - 8px");
		left: calc(~"50% - 8px");
		z-index: 2;
		&:hover, &:focus {
		  & + .interactive-point__icon--active {
		  	opacity: 1;
		  	transform: rotate(0);
		  }
		}
		&--active {
			opacity: 0;
			width: 38px;
			height: 38px;
			position: absolute;
			top: calc(~"50% - 19px");
			left: calc(~"50% - 19px");
			transform: rotate(-45deg);
			.transition();
			z-index: 1;
		}
	}
}



