.scr-specs {
	width: 100%;
	color: #383D56;
	display: flex;
	overflow: hidden;
	@media @mobile {
		flex-direction: column;
	}
	@media @tablet {
		padding: 8.5% 5%;  
		min-height: 100%;
	}
	@media @desktop {
		padding: 8.5% 9.4%;  
		min-height: 100%;
	}
}
.spec-tabs {
	width: 386px;
	flex-shrink: 0;
	@media @mobile {
		width: 100%;
	}
	@media @tablet {
		width: 250px;
	}
	@media @desktop {
		padding-left: 16px;
	}
	&__name {
		@media @mobile {
			padding: 0 6.25%;
			text-align: center;
			margin-top: 72px;
			margin-bottom: 39px;
		}
	}
	&__list {
		@media @mobile {
			display: flex;
			flex-direction: column;
		}
		@media @tablet {
			padding-top: 4%;
			margin-top: 11.75%;
			width: 100%;
			border-top: 1px solid rgba(151,151,151,.3);
		}
		@media @desktop {
			padding-top: 4%;
			margin-top: 11.75%;
			width: 100%;
			border-top: 1px solid rgba(151,151,151,.3);
		}
	}
	&__item {
		width: 100%;
		position: relative;
		&:hover, &:focus {
			cursor: pointer;
		  .spec-tabs__border {
		  	opacity: 1;
		  }
		}
		@media @mobile {
			border-top: 1px solid @border;
			&:last-child {
				border-bottom: 1px solid @border;
			}
		}
		@media @tablet {
			height: 54px;
		}
		@media @desktop {
			height: 54px;
		}

		&--active {
			@media @mobile {
				.spec-tabs__head {
					box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.13);
				}
				.spec-tabs__arrow--down {
					display: none;
				}
				.spec-tabs__arrow--up {
					display: block;
				}
			}
			@media @desktop {
				.spec-tabs__border {
					opacity: 1;
				}
			}
		}
	}	
	&__head {
		display: flex;
		align-items: center;
		position: relative;
		@media @tablet {
			height: 50px;

		}
		@media @desktop {
			height: 50px;
		}
	}
	&__border {
		width: 400px;
		height: 54px;
		position: absolute;
		top: 0;
		left: -16px;
		opacity: 0;
		.transition();
		z-index: 1;
		use {
			fill: transparent !important;
		}
		@media @mobile {
			display: none;
		}
		@media @tablet {
			display: none;
		}
	}	
	&__text {
		font-size: 1.4rem;
		color: #383D56;
		line-height: 20.29px;
		position: relative;
		z-index: 2;
		@media @mobile {
			padding: 20px 6.25%;
		}
		@media @tablet {
			font-size: 1.2rem;
			line-height: 1;
		}
	}
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		@media @tablet {
			display: none;
		}
		@media @desktop {
			display: none;
		}
		&--down {
			width: 12px;
			height: 8px;
		}
		&--up {
			width: 12px;
			height: 8px;
			display: none;
		}
	}
}
.spec-details {
	display: none;
	&__wrapper {
		padding-left: 2.666666667%;
		border-left: 1px solid rgba(151,151,151,.3);
	}
	&--active {
		@media @tablet {
			display: block;
		}
		@media @desktop {
			display: block;
		}
	} 
	
}

.spec-details-1 {
	@media @mobile {
		padding: 15px;
	}
	&__list {
	}
	&__list-item {
		font-size: 1.4rem;
		font-size: 14px;
		line-height: 3rem;
		margin-bottom: 5rem;
	}
}

.spec-details-2 {
	&__item {
		padding: 12px;
		display: flex;
		text-align: left;
		&:nth-child(even) {
			background: #F9F9F9;
			border-radius: 4px;
		}
		@media @mobile {
			flex-direction: column;
		}
	}
	&__name {
		font-size: 1.4rem;
		&:first-letter {
			text-transform: uppercase;
		}
		@media @tablet {
			width: 22.5%;
		}
		@media @tablet {
			font-size: 1.2rem
		}
		@media @desktop {
			width: 22.5%;
		}
	}
	&__value {
		@media @mobile {
			margin-top: 10px;
		}
		@media @tablet {
			width: 77.5%;
			font-size: 1.2rem;
		}
		@media @desktop {
			width: 77.5%;
		}
	}
}

.spec-details-3 {
	@media @mobile {
		padding: 15px;
	}
	&__list {}
	&__list-item {
		&:not(:first-child) {
			margin-top: 5rem;
			border-top: 1px solid @border;
			padding-top: 5rem;
		}
	}
	&__title {
		font-weight: 600;
		font-size: 1.4rem;
		line-height: 3.0rem;
		margin-bottom: 5rem;
	}
	&__text {
		line-height: 3.0rem;
	}
}

.spec-details-4 {
	@media @mobile {
		padding: 15px;
	}
	&__title {
		line-height: 2.0rem;
		text-align: center;
		margin-bottom: 5.5rem;
		font-size: 1.6rem;
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
	}
	&__list-item {
		padding: 40px 15px 0 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		@media @mobile {
			width: 100%;
		}
		@media @tablet {
			width: 50%;
		}
		@media @desktop {
			width: 50%;
			&:nth-child(even) {
				border-left: 1px solid @border;
			}
			&:nth-child(1),
			&:nth-child(2) {
				border-bottom: 1px solid @border;
			}
		}
	}
	&__icon-wrapper {
		height: 210px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__icon {
		flex-shrink: 0;
		&--1 {
			width: 244px;
			height: 117px;
		}
		&--2 {
			width: 174px;
			height: 110px;
		}
		&--3 {
			width: 90px;
			height: 181px;
			margin-left: -30px;
		}
		&--4 {
			width: 201px;
			height: 111px;
		}
	}
	&__text {
		text-align: center;
		font-size: 1.4rem;
		line-height: 2.2rem;
		margin-bottom: 3.3rem;
		margin-top: 4.7rem;
	}
}

.spec-details-5 {
	@media @mobile {
		padding: 15px;
	}
	&__list {
	}
	&__list-item {
		padding-bottom: 4rem;
		margin-bottom: 4rem;
		&:not(:last-child) {
			border-bottom: 1px solid @border;
		}
	}
	&__question {
		margin-bottom: 4rem;
	}
	&__answer {
	}
	b {
		font-weight: 600;
	}
}



