.scr-top {
	background: url(../img/background/scr-top.jpg) no-repeat;
	width: 100%;
	background-size: cover;
	position: relative;
	@media @mobile {
		height: 568px;
		background: url(../img/background/scr-top-sm.jpg) no-repeat center top;
		background-size: cover;
	}
	@media @tablet {
		// height: calc(~"100% - 69px");
		height: 100%;
	}
	@media @desktop {
		// height: calc(~"100% - 69px");
		height: 100%;
	}
}
.main-logo {
	position: absolute;
	@media @mobile {
		top: 20.2%;
		left: 50%;
		transform: translateX(-50%);
	}
	@media @tablet {
		top: 43%;
		left: calc(~"50% - 321px");
	}
	@media @desktop {
		top: 43%;
		left: calc(~"50% - 321px");
	}
	&__icon {
		@media @mobile {
			width: 274px;
			height: 10px;
		}
		@media @tablet {
			width: 642px;
			height: 50px;
		}
		@media @desktop {
			width: 642px;
			height: 50px;
		}
	}
	&::before,
	&::after {
	  content: '';
	  height: 1px;
	  opacity: .2;
	  background-color: #fff;
		position: absolute;
	}
	&::before {
		@media @mobile {
			top: -14px;
			right: 17.1875%;
			width: 45px;
		}
		@media @tablet {
			top: -30px;
	    right: 196px;
	    width: 101px;
		}
		@media @desktop {
			top: -30px;
	    right: 196px;
	    width: 101px;
		}
	}
	&::after {
		@media @mobile {
			width: 45px;
			bottom: -14px;
			left: 17.1875%;
		}
		@media @tablet {
			bottom: -24px;
	    left: 69px;
	    width: 94px;
		}
	  @media @desktop {
		  bottom: -24px;
	    left: 69px;
	    width: 94px;
	  }
	}
}
/*========================================
=            Interactive menu            =
========================================*/
.interactive-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 7%;
	padding-right: 7%;
	width: 100%;
	position: absolute;
	bottom: 5.9847661%;
	@media @mobile {
		display: none;
	}
	&__point {
		width: 38px;
		height: 38px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
	}
	&__description {
		position: absolute;
		width: 144px;
		top: -81px;
		height: 74px;
		left: calc(~"50% - 72px");
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
}

/*==========================================
=            Screen top SLIDE 1            =
==========================================*/
.src-top-slide {
	width: 100%;
	height: 100%;
	position: relative;
}
.src-top-slide-1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.src-top-slide-1-popup {
	
	@media @mobile {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: center;
	}
	@media @tablet {
		opacity: 0;
		position: absolute;
		top: 30%;
		right: 28%;
	}
	@media @desktop {
		opacity: 0;
		position: absolute;
		top: 30%;
		right: 28%;
	}
	&__text {
		font-size: 1.4rem;
		color: #fff;
		line-height: 22px;
		text-align: center;
		@media @mobile {
			margin: 48px 0;
			position: relative;
			&::before {
			  content: '';
			  display: block;
			  width: 1px;
			  height: 26px;
			  background-color: @border;
			  position: relative;
			  top: -16px;
			  left: 50%;
			}
		}
		@media @tablet {
			position: absolute;
			top: -97px;
			left: -193px;
	    width: 388px;
		}
		@media @desktop {
			position: absolute;
			top: -97px;
			left: -193px;
	    width: 388px;
		}
	}
}
.src-top-slide1 {
	&__point-wrap {
	}
}

/*==============================================
=            SVG ANIMATION ELEMENTS            =
==============================================*/
.svg-animation-elements {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.scr-top-line1 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	@media @mobile {
		display: none;
	}
	&__path {
		z-index: 50;
	}
}


.src-top-slide {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;	
}
.src-top-slide-1 {
	display: block;
}
.src-top-slide-2 {
	background-color: rgba(0,0,0,.7);
}
.src-top-slide-3 {
	background-color: rgba(255, 244, 68,.7);
}
.src-top-slide-4 {
	background-color: rgba(0, 0, 255, .7);
}

