.scr-specs {
	width: 100%;
	min-height: 100%;
	color: #383D56;
	display: flex;
	overflow: hidden;
	@media @mobile {
		flex-direction: column;
	}
	@media @desktop {
		padding: 8.5% 9.4%;  
	}
}
.spec-tabs {
	width: 386px;
	flex-shrink: 0;
	@media @mobile {
		width: 100%;
	}
	@media @desktop {
		padding-left: 16px;
	}
	&__name {
		@media @mobile {
			padding: 0 6.25%;
			text-align: center;
		}
	}
	&__list {
		@media @mobile {
			display: flex;
			flex-direction: column;
		}
		@media @desktop {
			padding-top: 4%;
			margin-top: 11.75%;
			width: 100%;
			border-top: 1px solid rgba(151,151,151,.3);
		}
	}
	&__item {
		width: 100%;
		display: flex;
		align-items: center;
		position: relative;
		&:hover, &:focus {
			cursor: pointer;
		  .spec-tabs__border {
		  	opacity: 1;
		  }
		}
		@media @mobile {
			border-top: 1px solid @border;
		}
		@media @desktop {
			height: 54px;
		}

		&--active {
			@media @mobile {
				.spec-tabs__arrow--down {
					display: none;
				}
				.spec-tabs__arrow--up {
					display: block;
				}
			}
		}
	}	
	&__border {
		width: 400px;
		height: 54px;
		position: absolute;
		top: 0;
		left: -16px;
		opacity: 0;
		.transition();
		z-index: 1;
		use {
			fill: transparent !important;
		}
		@media @mobile {
			display: none;
		}
	}	
	&__text {
		font-size: 1.4rem;
		color: #383D56;
		line-height: 20.29px;
		position: relative;
		z-index: 2;
		@media @mobile {
			padding: 20px 6.25%;
		}
	}
	&__arrow {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 20px;
		@media @desktop {
			display: none;
		}
		&--down {
			width: 12px;
			height: 8px;
		}
		&--up {
			width: 15px;
			height: 8px;
			display: none;
		}
	}
}
.spec-details {
	display: none;
	&__wrapper {
		padding-left: 2.666666667%;
		border-left: 1px solid rgba(151,151,151,.3);
		min-width: 75%;
	}
	&--active {
		display: block;
	} 
	&__item {
		padding: 12px;
		display: flex;
		text-align: left;
		&:nth-child(even) {
			background: #F9F9F9;
			border-radius: 4px;
		}
		@media @mobile {
			flex-direction: column;
		}
	}
	&__name {
		font-size: 1.4rem;
		width: 22.5%;
	}
	&__value {
		width: 77.5%;
	}
}


